*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    width: 100vw;
    height: 100vh;
    background: #222;
    color: white;
    font-family: sans-serif;
}

.numPad{
    border-radius: 10px;
    background: #111;
}

.disp{
    border-bottom: 2px solid rgb(12, 158, 203);
    margin-bottom: 6px;
}

.numPad .disp input{
    width: 250px;
    padding: 20px;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: white;
    font-size: 2em;
}

.numPad .nums > .r div {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px aqua;
}